[Unit]
Description=Enviro+ Monitor Service
After=multi-user.target

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/ha-enviroplus/src/monitor.py

[Install]
WantedBy=multi-user.target
